* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
	--bg-color: #1d1d1d;
	--primary-text-color: #e9e9e9;
	--bg-button-color: #7a7474;
	--bg-task-column: #639c9e13;
	--bg-task-color: #2a2a2a;
	--bg-add-task-color: #639c9e28;
	--add-color: #639c9ea2;
	--delete-color: #f83939a2;

	/* Padding Variables */
	--nav-padding: 15px 30px;
	--section-padding: 15px 30px;
	--padding-xs: 2px;
	--padding-sm: 5px;
	--padding-md: 10px;
	--padding-lg: 15px;
	--padding-xl: 20px;
	--padding-xxl: 30px;

	/* Border-Radius Variables */
	--border-radius-sm: 5px;
	--border-radius-md: 10px;
	--border-radius-lg: 15px;
	--border-radius-xl: 20px;
	--border-radius-xxl: 30px;
}

body {
	background-color: var(--bg-color);
	color: var(--primary-text-color);
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
}

nav {
	padding: var(--nav-padding);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav button {
	background-color: var(--bg-button-color);
	border: none;
	outline: none;
	color: var(--primary-text-color);
	padding: var(--padding-md) var(--padding-lg);
	cursor: pointer;
	border-radius: var(--border-radius-md);
}

section {
	padding: var(--section-padding);
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	gap: var(--padding-xxl);
}
section .task-column {
	background-color: var(--bg-task-column);
	flex-grow: 1;
	border-radius: var(--border-radius-md);
	padding: var(--padding-md);
	display: flex;
	flex-direction: column;
	gap: var(--padding-md);
	transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
section .task-column.hover-over {
	border: 2px dashed var(--primary-text-color);
	scale: 1.05;
}
section .task-column .heading {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--padding-md) var(--padding-lg);
}
section .task-column .task {
	background-color: var(--bg-task-color);
	padding: var(--padding-md) var(--padding-lg);
	border-radius: var(--border-radius-md);
	display: flex;
	flex-direction: column;
	gap: var(--padding-sm);
	cursor: grab;
}
section .task-column .task button {
	align-self: flex-end;
	padding: var(--padding-xs) var(--padding-md);
	border: none;
	outline: none;
	border-radius: var(--border-radius-sm);
	background-color: var(--delete-color);
	color: var(--primary-text-color);
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
}
.modal.active {
	display: flex;
}
.modal .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--bg-add-task-color);
	backdrop-filter: blur(5px);
}
.modal .center {
	background-color: var(--bg-task-color);
	padding: var(--padding-xxl);
	border-radius: var(--border-radius-md);
	display: flex;
	flex-direction: column;
	gap: var(--padding-md);
	z-index: 10;
}
.modal .center input,
.modal .center textarea {
	background-color: var(--bg-task-column);
	border: none;
	outline: none;
	color: var(--primary-text-color);
	padding: var(--padding-md);
	border-radius: var(--border-radius-sm);
	resize: none;
}
.modal .center button {
	background-color: var(--add-color);
	border: none;
	outline: none;
	color: var(--primary-text-color);
	padding: var(--padding-md) var(--padding-lg);
	cursor: pointer;
	border-radius: var(--border-radius-md);
	width: fit-content;
	align-self: center;
}
